{% extends 'base.html' %}
{% load static %}
{% block main-content %}
<div class="container my-5">
    <div class="row">
    <h3>Welcome {{request.user}}</h3>
     <div class="col-sm-2 border-end">
      <ul class="list-unstyled">
       <li class="d-grid"><a href="{% url 'profile' %}" class="btn btn-primary">Change Password</a></li>
      </ul>
     </div>
     <div class="col-sm-9 offset-sm-1">
        <form action="" method="post" novalidate class="shadow p-5">
        {% csrf_token %}
       {{form}}
        <button type="submit" class="btn btn-primary">Submit</button>
        <br>
       
       
        
      </form>
     </div>
    </div>
   </div>
 {% endblock main-content %}