{% extends 'base.html' %}
{% load static %}

{% block main-content %}


     {% comment %} <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}"> {% endcomment %}
<div class="container">
    <div class="row my-3">
     <div class="col-sm-6 offset-sm-3">
      <h3>Customer Registration</h3>
      <hr>
   
      <form action="" method="post" novalidate class="shadow p-5">
          {% csrf_token %}
          
    {{form}}
   
    

        <input type="submit" class="btn btn-primary">
        <br>
        <br><a href="{% url 'login' %}" class="btn btn-danger text-center"> Already Exists Acount</a>
      </form>
     </div>
    </div>
   </div>


   
   {% comment %} <script src="{% static '/js/bootstrap.min.js' %}"></script>  {% endcomment %}
{% endblock main-content %}