{% extends 'base.html' %}
{% load static %}
{% block main-content %}
<div class="container">
    <div class="row my-3">
     <div class="col-sm-6 offset-sm-3">
      <h3>Login</h3>
      <hr>
      <form action="" method="post" novalidate class="shadow p-5">
          {% csrf_token %}
         {{form}}
      
       <input type="submit" class="btn btn-primary mt-4" value="Login">
       <br>
       <div class="text-center text-primary fw-bold"><small>New to ShoppinglyX ? <a href="{% url 'customerregistration' %}"
          class="text-danger">Create an Account</a> </small></div>
          {% comment %} {% if form.no_field_errors %}
          {% for error in form.nom_field_errors %}
          <p class="alert alert-danger">{{error}}</p>
          {% endfor %}{% endif %} {% endcomment %}
          {% comment %} <a  class="text-danger"href="{% url 'password-reset-confirm' %}">email password</a> {% endcomment %}
          <a  class="text-danger"href="{% url 'password-reset' %}">forgot password</a>
          {% comment %} <a  class="text-danger"href="{% url 'password_reset_confirm' %}">eeforgot password</a> {% endcomment %}
      </form>
     </div>
    </div>
   </div
{% endblock main-content %}