{% extends 'base.html' %}
{% load static %}
{% block main-content %}
<div class="container my-5">
 
    <div class="row">
      <h4 class="text-center">Reset Password</h4>
   
     </div>
     
     <div class="col-sm-9 offset-sm-1">
        <form action="" method="post" novalidate class="shadow p-5">
        {% csrf_token %}
       {{form}}
       <br>
        <button type="submit" class="btn btn-primary">Submit</button>
        <br>
       
       
        
      </form>
     </div>
    </div>
   </div>
 {% endblock main-content %}