{% extends 'base.html' %}
{% load static %}
{% block main-content %} 
<div class="container my-5">
    <div class="row">
   
     </div>
     <div class="col-sm-9 offset-sm-1">
        <form action="" method="post" novalidate class="shadow p-5">
        {% csrf_token %}
       {{form}}
       <br>
        <button type="submit" class="btn btn-primary">Submit<s/button>
        <br>
        {% if form.non_field_errors %}
        {% for error in non_field_errors %}
        <p class="aler alert-danger"></p>
        {% endfor %}
        {% endif %}
       
       
        
      </form>
     </div>
    </div>
   </div>
{% endblock main-content %}