{% extends 'base.html' %}
{% load static %}
{% block main-content %}
<div class="container my-5">
 
 <div class="row">
  <h3>Welcome <span class="text-capitalize">{{request.user}}</h3>
  <div class="col-sm-2 border-end">
   <ul class="list-unstyled">
    <li class="d-grid"><a href="{% url 'profile' %}" class="btn {{active}}">Profile</a></li>
    <li class="d-grid"><a href="{% url 'address' %}" class="btn">Address</a></li>
   </ul>
  </div>
 
  <div class="col-sm-8 offset-sm-1">
    
   <form action="" method="post">
    {% if messages %}
    {% for message in  messages %}
    <small class="alert alert-success">{{message}}</small>
    {% endfor %}
    {% endif %}
    {% csrf_token %}
    {{form}}
    <div class="col-12 mt-3">
      <button type="submit" class="btn btn-primary">Submit</button>
     
    </div>
   </form>
  
  
  </div>
 </div>
</div>
{% endblock main-content %}